# Django settings
DEBUG=True
SECRET_KEY=django-insecure-dev-dummy-secret-key-123456789
ALLOWED_HOSTS=*

# Database connection
# Default SQLite:
DATABASE_URL=postgres://localhost:5432/law_clinic

# Email Configurations
# If RESEND_API_KEY is empty/omitted in local dev (DEBUG=True), emails will print to the console.
RESEND_API_KEY=
DEFAULT_FROM_EMAIL=LawStack <noreply@lawstack.me>

# Gmail SMTP fallback configurations
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Frontend Urls
FRONTEND_URL=http://localhost:3000
FRONTEND_URL_PROD=https://lawstack.me
